<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="hero-unit">
      <h1>Twitter Bootstrap</h1>
      <p>Aplicación de ejemplo con Sinatra y Twitter Bootstrap.</p>
      <p><a href="http://twitter.github.com/bootstrap" class="btn btn-primary btn-large">Aprender más &raquo;</a></p>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>